body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg,
            rgba(48, 16, 255, 1) 0%,
            #ff00d0 100%);
}

.container {
    text-align: center;
    margin: 3% auto;
    width: 60%;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 40, 40);
    padding: 10px;
    border-radius: 10px;
    height: 90vh;
}

input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 10px;

}

li {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%);

    padding: 8px;
    border-radius: 5px;
}

#addTask {

    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%);
    color: #fff;
    text-transform: capitalize;

}

.deleteTask {
    color: rgb(249, 249, 249);
    background-color: transparent;
    border: none;

}